@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  /* Set width for the slider container */
  width: 800px; /* Adjust as needed */
  scroll-snap-type: x mandatory; /* Enable scroll snapping */
  touch-action: pan-left pan-right; /* Improve touch scrolling experience */
}

.slider::-webkit-scrollbar { /* Hide scrollbar (optional) */
  display: none;
}

.slider img {
  /* Style the slider images */
  display: block;
  width: 100%; /* Images will fill the slider width */
  height: auto;
  object-fit: cover; /* Maintain image aspect ratio */
  scroll-snap-align: start; /* Snap to image start on scroll */
}