@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%, 20%, 100% { transform: translateY(-25%); animationTimingFunction: 'cubic-bezier(0.8,0,1,1)'; }
  10% { transform: none; animationTimingFunction: 'cubic-bezier(0,0,0.2,1)'; }
  80%, 90% { transform: translateY(0); }
}

.bounce {
  animation: bounce 2s infinite;
  animation-delay: 1s;
} 

.scrollbar-hide {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}